<div *ngIf= "!name; else forminfo">
  <form [formGroup]="nForm" (ngSubmit)="addPost(nForm.value)">
    <div class="form-container">
        <div class="row colums"></div>

        <h1>My Reactive Form</h1>

        <label>First Name
            <input type="text" formControlName = 'firstName' >
        </label>
        <div class="alert" *ngIf="!nForm.controls['firstName'].valid && nForm.controls['firstName'].touched">
          {{ titleAlert }}
        </div>

        <label>Last Name
              <input type="text" formControlName = 'lastName' >
        </label>
        <div class="alert" *ngIf="!nForm.controls['lastName'].valid && nForm.controls['lastName'].touched">
          {{ titleAlert }}
        </div>

        <label>Credit Card
              <input type="text" formControlName = 'creditCard' >
       </label>
       <div class="alert" *ngIf="!nForm.controls['creditCard'].valid && nForm.controls['creditCard'].touched">
        {{ titleAlert }}
      </div>

       <input type="submit" class="button expanded" value="Submit Form" [disabled]="!nForm.valid">

    </div>
  </form>
</div>

<ng-template #formInfo>
  <div class="form-container">
      <div class="row colums">
          <h2>{{ firstName }}</h2>

          <h2>{{ lastName }}</h2>

          <h2>{{ creditCard }}</h2>
      </div>
  </div>
</ng-template>
